<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>foglight!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Oracle Solaris overview
			</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="dropdown">
						 
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Choose me ..
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                             <a class="dropdown-item disabled" href="#">Query node</a>
                             <a class="dropdown-item" href="#">Sample output</a>
                             <a class="dropdown-item" href="#">ssh to node..</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="btn-group btn-group-sm" role="group">
						 
						<button class="btn btn-secondary" type="button">
							QB
						</button> 
						<button class="btn btn-secondary" type="button">
							Jenkins
						</button> 
						<button class="btn btn-secondary" type="button">
							Appmon
						</button> 
						<button class="btn btn-secondary" type="button">
							OneAgent
                        </button>
						<button class="btn btn-secondary" type="button">
							sparc
						</button> 
						<button class="btn btn-secondary" type="button">
							x86
						</button> 
						<button class="btn btn-secondary" type="button">
							native
						</button> 
                        
					</div>
				</div>
			</div>
			<table class="table table-hover table-sm">
				<thead>
					<tr>
						<th>
							LDOM
						</th>
						<th>
							zonename
                        </th>
						<th>
							hostname
                        </th>
						<th>
							env
						</th>
						<th>
							IP address
                        </th>
						<th>
							puppet status
						</th>
                        <th>
							OS status
                        </th>
                        <th>
							OS release
                        </th>
                        <th>
							arch
                        </th>
						<th>
							MAC address
						</th>
						<th>
							vlan-id
						</th>
						<th>
							uptime
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-active">
						<td>
							ls-sol-h21
						</td>
						<td>
							s11-base
						</td>
						<td>
							lo-sol-j01
						</td>
						<td>
							live
						</td>
                        <td>
							10.102.50.48
                        </td>
						<td>
							Online
                        </td>
						<td>
							running
						</td>
						<td>
							5.10
						</td>
						<td>
							sparc
						</td>
                        <td>
							0:14:4f:f9:29:7c
						</td>
						<td>
							1032
						</td>
						<td>
							72 days
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							ls-sol-h21
						</td>
						<td>
							s11-jenkins1
						</td>
						<td>
							lo-sol-j02
                        </td>
						<td>
							live
						</td>
						<td>
							10.102.50.49
                        </td>
						<td>
							Offline
                        </td>
						<td>
							running
						</td>
						<td>
							5.11
                        </td>
						<td>
							sparc
						</td>
						<td>
							0:14:4f:f9:29:7d
						</td>
						<td>
							1032
						</td>
						<td>
							72 days
						</td>
					</tr>
					<tr class="table-danger">
						<td>
							ls-sol-h21
						</td>
						<td>
							s11-jenkins2
						</td>
						<td>
							lo-sol-j03
                        </td>
						<td>
							test
						</td>
						<td>
							10.102.50.50
                        </td>
						<td>
							Online
                        </td>
						<td>
							stopped
						</td>
						<td>
							5.11
                        </td>
						<td>
							x86
                        </td>
						<td>
							0:14:4f:f9:29:7e
						</td>
						<td>
							1032
						</td>
						<td>
							72 days
						</td>
                    </tr>
					<tr class="table-success">
						<td>
							ls-sol-h21
						</td>
						<td>
							s10-qb1
						</td>
						<td>
							lo-sol-q04
                        </td>
						<td>
							live
						</td>                        
                        <td>
							10.102.50.51
                        </td>
						<td>
							Unknown
                        </td>
						<td>
							running
						</td>                        
						<td>
							5.10
                        </td>
						<td>
							sparc
						</td>
						<td>
							0:14:4f:f9:29:7f
						</td>
						<td>
							1032
						</td>
						<td>
							12 days
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							ls-sol-h30
						</td>
						<td>
							s11-qb2
						</td>
						<td>
							lo-sol-q05
                        </td>
						<td>
							live
						</td>                        
						<td>
							10.102.50.48
                        </td>
						<td>
							Offline
                        </td>
						<td>
							running
						</td>                        
						<td>
							5.11
                        </td>
						<td>
							x86
						</td>
						<td>
							0:14:4f:f9:29:7g
						</td>
						<td>
							1032
						</td>
						<td>
							40 days
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							ls-sol-h30
						</td>
						<td>
							s11-qb3
						</td>
						<td>
							lo-sol-q06
                        </td>
						<td>
							live
						</td>                        
						<td>
							10.102.50.52
                        </td>
						<td>
							Online
                        </td>
						<td>
							stopped
						</td>                        
						<td>
							5.10
                        </td>
						<td>
							sparc
						</td>
						<td>
							0:14:4f:f9:29:7h
						</td>
						<td>
							1032
						</td>
						<td>
							70 days
						</td>
					</tr>                    
				</tbody>
			</table>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>